.main {
  font-family: 'Roboto', Arial, sans-serif;
}

.news-list {
  padding: 80px 104px 0;
  background-color: #F5F6F7;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .news-list {
    padding: 40px 40px 0;
  }
}

.news-list__title {

  text-align: left;
  margin: 0 0 64px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

@media screen and (min-width: 1440px) {
  .news-list__title {
    margin: 0 0 32px;
  }
}

.news-list__button {
  margin: 0 0 80px;
  min-width: 288px;
  min-height: 64px;

  background: white;
  border-radius: 80px;
  border: none;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (min-width: 1440px) {
  .news-list__button {
    min-height: 56px;
    margin: 0 0 40px;
  }
}

.news-list__button:hover {
  cursor: pointer;
  background: #E8E8E8;
}
