.about {
  padding: 80px 104px;
}

@media screen and (max-width: 1439px) {
  .about {
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 32px 16px 16px;
  }
}

.about__columns {
  display: flex;
  flex-direction: row;
  justify-content:
}

@media screen and (max-width: 1439px) {
  .about__columns {
    min-height: 274px;
  }
}

@media screen and (max-width: 767px) {
  .about__columns {
    min-height: 704px;
    flex-direction: column;
  }
}

.about__column {
  margin-right: 56px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1439px) {
  .about__column {
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .about__column {
    margin: 0 0 24px;
  }
}

.about__column:last-child {
  margin-right: 0;
}

.about__image {
  max-width: 464px;
  max-height: 464px;
}

@media screen and (max-width: 1439px) {
  .about__image {
    max-width: 232px;
    max-height: 232px;
  }
}

@media screen and (max-width: 767px) {
  .about__image {
    max-width: 272px;
    max-height: 272px;
    align-self: center;
  }
}

.about__title {
  margin: 51px 0 0;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

@media screen and (max-width: 1439px) {
  .about__title {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
  }
}

.about__description {
  margin: 18px 0 0;
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 767px) {
  .about__description {
    margin: 16px 0 0;
  }
}

.about__description:first-child {
  margin-top: 24px;
}
