.about {
  padding: 80px 104px;
}

.about__columns {
  display: flex;
  flex-direction: row;
  justify-content:
}

.about__column {
  margin-right: 56px;
}

.about__column:last-child {
  margin-right: 0;
}

.about__title {
  margin: 51px 0 0;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.about__description {
  margin: 18px 0 0;
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.about__description:first-child {
  margin-top: 24px;
}
