.navigation {
  border-bottom: 1px solid white;
}

.navigation__logo {
  align-self: center;
}

.navigation__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 104px;
}

.navigation__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link-container {
  padding: 22px 8px 20px 8px;
}

.navigation__link-container:last-child {
  padding-right: 0;
}

.navigation__link-container_type_button {
  padding-top: 14px;
  padding-bottom: 12px;
  align-self: center;
}

.navigation__link_type_button {
  min-width: 100px;
  background-color: transparent;
  color: white;
  border: 1px solid;
  border-radius: 100px;
  height: 40px;
}
