.navigation {
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.navigation_theme_white {
  box-shadow: inset 0px -1px 0px #D1D2D6;
  color: black;
}

.navigation__logo {
  align-self: center;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  padding: 30px 0 26px;
}

.navigation__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 104px;
  min-height: 80px;
  align-items: center;
}

.navigation__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation__link-container {
  padding: 0 22px 0 22px;
  min-height: 77px;
  display: flex;
  align-items: center;
}

.navigation__link-container_active {
  border-bottom: solid 3px white;
}

.navigation__link-container_active_theme_white {
  border-bottom: solid 3px black;
}

.navigation__link-container:last-child {
  padding-right: 0;
}

.navigation__link {
  color: white;
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.navigation__link_theme_white {
  color: black;
}

.navigation__button-container {
  align-self: center;
}

.navigation__button {
  min-height: 48px;
  min-width: 112px;
  padding: 0 17px;
  background-color: transparent;
  color: white;
  border: 1px solid;
  border-radius: 100px;
  height: 40px;

  align-items: center;
  display: flex;
  justify-content: center;

}

.navigation__button_type_signin {
  width: 176px
}

.navigation__button:hover {
  cursor: pointer;
}

.navigation__button_theme_white {
  background-color: white;
  color: black;
}

.navigation__logout-icon {
  padding-left: 10px;
}

.navigation__logout-icon > path {
  fill: white;
  margin-left: 5px;
}

.navigation__logout-icon_theme_white > path {
  fill: black;
}
