.search-form {
  margin: 144px 0 0;
}

.search-form__container {
  background-color: white;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
}

.search-form__input {
  margin: 17px 0px 17px 24px;
  border: none;
  width: 100%;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgb(14 26 57 / 20%);
  border-radius: 100px;
  border-style: none;
  color: white;
  min-width: 156px;
}

.search-form__button:hover {
  background: #347EFF;
  cursor: pointer;
}

.search-form__button:active {
  background: #2A65CC;
}
