.drop-down-menu {
  display: none;
  height: 24px;
}

@media screen and (max-width: 768px) {

  .drop-down-menu {
    display: block;
  }

  .drop-down-menu__icon:hover {
    cursor: pointer;
  }

  .drop-down-menu__icon > path {
    fill: black;
  }

  .drop-down-menu__icon_theme_dark > path {
    fill: white;
  }

  .drop-down-menu__container {
    position: absolute;
    min-width: 100%;
    min-height: 100px;
    background: #1A1B22;;
    top: 0;
    left: 0;

    transition: visibility 0.2s, opacity 0.2s linear;
  }

  .drop-down-menu__header {
    padding: 16px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.1);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .drop-down-menu__close-button {
    width: 24px;
    height: 24px;
  }

  .drop-down-menu__close-button:hover {
    cursor: pointer;
  }

  .drop-down-menu_links {
    display: block;
    flex-direction: column;
    align-items: baseline;
    padding: 16px;
  }

  .drop-down-menu_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
  }
}

.drop-down-menu_hidden {
  opacity: 0;
  visibility: hidden;
}
