.signup__link-container {
  text-align: center;
  margin: 16px 0 0;
  height: 20px;

  font-family: 'Inter';
  font-size: 14px;
  line-height: 17px;
}

.signup__link {
  color: #2F71E5;
}

.signup__link:hover {
  cursor: pointer;
}
