.popup__container {
  position: relative;
  width: 100%;
  max-width: 430px;

  border-radius: 10px;
  background-color: white;

  padding: 34px 36px 28px;
}


@media screen and (max-width: 768px) {
  .popup__container {
    top: 56px;
    max-width: unset;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}
