.news-card-list {
  padding-bottom: 64px;
}

@media screen and (max-width: 1440px) {
  .news-card-list {
    padding-bottom: 32px;
  }
}

.news-card-list__grid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 576px;
  grid-gap: 16px;
  list-style: none;
  font-size: 0;
}

@media screen and (max-width: 1440px) {
  .news-card-list__grid {
    grid-gap: 8px;
    grid-template-rows: 420px;
  }
}
