.news-card {
  text-align: left;
  border-radius: 16px;
  background-color: white;

  font-size: 0;
}

.news-card___image {
  max-height: 272px;
  object-fit: cover;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

@media screen and (max-width: 1440px) {
  .news-card___image {
    max-height: 150px;
  }
}

.news-card___content {
  margin: 20px 24px 24px;
  height: calc(100% - 272px - 48px);
  position: relative;
}

@media screen and (max-width: 1440px) {
  .news-card___content {
    margin: 16px;
    height: calc(100% - 150px - 32px);
  }
}

.news-card___date {
  margin: 0;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #B6BCBF;
}

.news-card___title {
  margin: 12px 0 0;

  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;

  height: 100%;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1440px) {
  .news-card___title {
    max-height: 72px;
    font-size: 22px;
    line-height: 24px;
  }
}

.news-card___text{
  margin: 16px 0 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1440px) {
  .news-card___text {
    max-height: 88px;
  }
}

.news-card___source {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  position: absolute;
  bottom: 0;

  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: #B6BCBF;
}
